*{margin:0;padding:0;box-sizing:border-box;font-family:Poppins,sans-serif}.fadeSlideDown{animation:fadeSlideDown .7s ease both}@keyframes fadeSlideDown{0%{opacity:0;transform:translateY(-20px)}to{opacity:1;transform:translateY(0)}}
